@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Post>


<div class="text-center">
    <h1 class="display-4">Home Page</h1>
</div>

<div>
    <ul>
        @foreach(var post in Model)
        {
        <li>
            <a asp-controller="Home" asp-action="Post" asp-route-id="@post.PostId">
                @post.Title
            </a>
            -
            <a asp-controller="Home" asp-action="Edit" asp-route-id="@post.PostId">
                Edit
            </a>
            -
            <a asp-controller="Home" asp-action="Remove" asp-route-id="@post.PostId">
                Remove
            </a>
        </li>
        }
    </ul>
</div>